@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(280deg,rgb(19, 19, 19) 0%,  rgb(32, 32, 32) 50%, rgb(19, 19, 19) 100%);
    --background-card: linear-gradient(35deg, rgba(32, 32, 32, 1) 0%, rgba(31, 31, 31, 1) 100%);
  
    --foreground: #E1E1E1;
    --color-text-secondary: #D0D0D0;
    --color-text-gray: #8a8a8a;

    --font-mochiy: "Mochiy Pop P One",
      serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 100%;
  scroll-behavior: smooth;
}